.menu-wrapper_header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu-wrapper_header ul {
  display: flex;
  justify-content: center;
  width: fit-content;
  list-style: none;
  padding-left: 0;
  gap: 20px;
}

.nav-link_header {
  color: white;
  text-decoration: none;
  border-bottom: none;
  padding-bottom: 5px;
}

.nav-link_header.activated {
  color: white;
  border-bottom: 2px solid white;
}
